<div class="news-articles">
	<a href="#" class="news-articles-heading">Most Popular</a>
	<a href="#" class="news-articles-item">
		<h4 class="news-articles-title">This is the Title of the Article</h4>
		<div class="news-articles-excerpt">And here is a short excerpt from the article. And here is a short excerpt from the article.</div>
	</a>
	<a href="#" class="news-articles-item">
		<h4 class="news-articles-title">This is the Title of the Article</h4>
		<div class="news-articles-excerpt">And here is a short excerpt from the article. And here is a short excerpt from the article.</div>
	</a>
	<a href="#" class="news-articles-item">
		<h4 class="news-articles-title">This is the Title of the Article</h4>
		<div class="news-articles-excerpt">And here is a short excerpt from the article. And here is a short excerpt from the article.</div>
	</a>
</div>
<div class="news-articles">
	<a href="#" class="news-articles-heading">Latest News</a>
	<a href="#" class="news-articles-item">
		<h4 class="news-articles-title">This is the Title of the Article</h4>
		<div class="news-articles-excerpt">And here is a short excerpt from the article. And here is a short excerpt from the article.</div>
	</a>
	<a href="#" class="news-articles-item">
		<h4 class="news-articles-title">This is the Title of the Article</h4>
		<div class="news-articles-excerpt">And here is a short excerpt from the article. And here is a short excerpt from the article.</div>
	</a>
	<a href="#" class="news-articles-item">
		<h4 class="news-articles-title">This is the Title of the Article</h4>
		<div class="news-articles-excerpt">And here is a short excerpt from the article. And here is a short excerpt from the article.</div>
	</a>
</div>
