<div class="signup">
  <div class="signup-title">The Latest News</div>
  <div class="signup-subtitle">Signup for Our Newsletter & Stay Up to Date</div>
  <form class="signup-form dark-form" novalidate>
    <input class="signup-input" name="name" placeholder="Name" type="text" />
    <div class="hidden input-error-text"></div>

    <input class="signup-input" name="email" placeholder="Email" type="email" />
    <div class="hidden input-error-text"></div>
    <button class="signup-button button" type="submit">Signup Today</button>
  </form>
</div>
