<a href="#" class="menu-link">Home</a>
<a href="#" class="menu-link">News</a>
<a href="#" class="menu-link">About</a>
<div class="dropdown">
  <a href="#" class="menu-link dropdown-trigger">Advertise</a>
  <div class="dropdown-menu">
    <a href="#" class="menu-link dropdown-link">Banner Ads</a>
    <a href="#" class="menu-link dropdown-link">Classifieds</a>
    <a href="#" class="menu-link dropdown-link">Events</a>
    <a href="#" class="menu-link dropdown-link">Press Releases</a>
  </div>
</div>
<a href="#" class="menu-link">Newsletter</a>
<a href="#" class="menu-link">Contact</a>